-r requirements.txt

black
flake8
flake8-bandit
flake8-black  # this is for local work; not used by pre-commit
flake8-bugbear
flake8-datetimez
flake8-debugger
flake8-isort
flake8-print
flake8-return
isort
mypy
pip-tools
pre-commit
pytest
pytest-cov
responses
types-requests
types-setuptools
